.post{
   
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.pwrapper{
    padding: 10px; 
}

.top{
    display: flex;
    align-items: center; 
}

.pprofilepic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.postInput{
    border: none;
    width: 80%;
}

.postInput:focus{
outline:none;
}

.posthr{
    margin: 20px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options{
    display: flex;
    margin-left: 20px;
}

.option{
    /* display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer; */
    display:inline-block;
    position:relative
}


.posticon{
    font-size: 18px;
    margin-right: 3px;
    pointer-events:none;
  
  opacity:1;

  text-align:center;
}

.optionpost{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.pbutton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.content {
    width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;  
}

.cwrapper{
    padding: 10px;  
}

.ctop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topleft{
    display: flex;
    align-items: center; 
}

.cpic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.cusername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.cdate{
    font-size: 12px;
}

.ccenter{
    margin: 20px 0;
}

.cimg{
    margin-top: 20px;
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.cbottom{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.cbottomleft{
    display: flex;
    align-items: center;   
}

.cicon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.like, .dislike {
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.commenttext{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}


.editform {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.containeredit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    color: #333;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .picture-panel {
 height: 100%;
 width: 100%
  }
  
  .form-panel {
    padding: 10vh 5vw;
  }
  
  .form-panel h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-panel a {
    text-decoration: none;
    color: var(--accent-color);
  }
  
  .btnedit {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: var(--accent-color);
    color: white;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 30px;
  }
  
  .btnedit:focus {
    outline: none;
  }
  
  .text {
    margin-top: 30px;
  }
  
  .btnedit:active {
    transform: scale(0.98);
  }
  
  .form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 100%;
  }
  
  .form-control input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: black;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: none;
    border-bottom-color: var(--accent-color);
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus + label span,
  .form-control input:valid + label span {
    color: var(--accent-color);
    transform: translateY(-30px);
  }
  
  @media screen and (max-width: 750px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr 3fr;
      width: 90vw;
    }
  
    .form-panel {
      order: 2;
      padding: 10px 20px 20px;
    }
  }
  
  :root {
    --accent-color: #3b5998;
  }

  /* link -https://codepen.io/nietoperq/pen/dyjrymM */