.rightbar {
    flex: 3.5;
  }

.rbwrapper{
  padding: 20px 20px 0 0;
}

.bdayContainer{
  display: flex;
  align-items: center;
}

.bdaypic{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.bdaytext{
  font-weight: 300;
  font-size: 15px;
}

.adpic{
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}
.rbtitle{
  margin-bottom: 20px;
}

.friendlist{
  padding: 0;
  margin: 0;
  list-style: none;
}

.rbfriend{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profileimgcontainer{
  margin-right: 10px;
  position: relative;
}

.profilepic{
height: 40px;
width: 40px;
border-radius: 50%;
object-fit: cover;

}

.online{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top:-2px;
  right: 0px;
  border: 2px solid white;
}

.rbusername{
  font-weight: 500px;
}

.userinfotitle{
  margin-bottom: 20px;
}

.rightbarFriendList {
padding: 0;
margin: 0;
list-style: none;
}

.rightbarTitle{
font-size: 18px;
font-weight: 500;
margin-bottom: 10px;
}

.rightbarInfo{
margin-bottom: 30px;
}

.infoitem{
margin-bottom: 10px;
}

.infokey{
font-weight: 500;
margin-right: 15px;
color: #555;
}

.infovalue{
font-weight: 300;
}

.friendsfollowing{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.friendfollowing{
display: flex;
flex-direction: column;
margin-bottom: 20px;
cursor: pointer;
}

.imgfollowing{
width: 100px;
height: 100px;
object-fit: cover;
border-radius: 5px;
}